[user]
    name = Clemens Siebler
    email = clemens.siebler@gmail.com
[color]
    ui = true
[core]
    autocrlf = input
    safecrlf = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    fo = fetch origin
    pod = push origin dev
    mod = merge origin/dev
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[push]
    default = simple
